<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap5/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <nav class="navbar navbar-dark bg-dark py-3">
        <div class="container">
            <a class="navbar-brand fw-bold" href="/">PasteCode</a>
            <div class="d-flex justify-content-end align-items-center">
                <div class="navbar-nav">
                    <a class="nav-link mx-2 px-2" href="/">Home</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-link btn btn-primary py-1 text-white mx-2 px-2" href="/paste">Paste</a>
                </div>
            </div>
        </div>
    </nav>


    <div class="container mt-4">
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='bootstrap5/js/bootstrap.min.js') }}"></script>
</body>

</html>