{% extends 'base.html' %}
{% block title %}Paste code - PasteCode{% endblock %}

{% block content %}
<div class="col-md-7 mx-auto">
    <h1 class="mb-4">Paste</h1>
    <form action="" method="post">
        <div class="mb-3">
            <label for="title" class="form-label fw-bold">Title</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mb-3">
            <label for="code" class="form-label fw-bold">Code</label>
            <textarea class="form-control" id="code" name="code" rows="5"></textarea>
        </div>
        <button class="btn btn-primary px-3">Save</button>
    </form>
</div>
{% endblock %}