{% extends 'base.html' %}
{% block title %}Pastes - PasteCode{% endblock %}

{% block content %}
<div class="col-md-7 mx-auto">
    <h1 class="mb-4">Your Paste Code</h1>
    <div class="py-4 px-2 d-flex justify-content-between align-items-center">
        <h6 class="fw-normal mb-0">#1 First paste</h6>
        <a href="" class="btn btn-sm btn-primary">See</a>
    </div>
    <div class="py-4 px-2 d-flex justify-content-between align-items-center">
        <h6 class="fw-normal mb-0">#1 First paste</h6>
        <a href="" class="btn btn-sm btn-primary">See</a>
    </div>
    <div class="py-4 px-2 d-flex justify-content-between align-items-center">
        <h6 class="fw-normal mb-0">#1 First paste</h6>
        <a href="" class="btn btn-sm btn-primary">See</a>
    </div>
    <div class="py-4 px-2 d-flex justify-content-between align-items-center">
        <h6 class="fw-normal mb-0">#1 First paste</h6>
        <a href="" class="btn btn-sm btn-primary">See</a>
    </div>
</div>
{% endblock %}